.after-search-child,
.after-search-item {
  left: 89px;
  border-radius: var(--br-xl);
  width: 1262px;
}
.after-search-child {
  position: absolute;
  top: 237px;
  background-color: var(--color-gainsboro);
  height: 187px;
}
.after-search-item {
  top: 442px;
  height: 186px;
}
.after-search-inner,
.after-search-item,
.front-child3 {
  position: absolute;
  background-color: var(--color-gainsboro);
}
.after-search-inner {
  top: 646px;
  left: 89px;
  border-radius: var(--br-xl);
  width: 1262px;
  height: 187px;
}
.front-child3 {
  top: 35px;
  left: calc(50% - 381px);
  border-radius: var(--br-9xl);
  width: 722px;
  height: 91px;
}
.front-child4,
.image-3-icon3 {
  position: absolute;
  top: 29px;
  height: 97px;
}
.image-3-icon3 {
  left: calc(50% + 341px);
  width: 92px;
  object-fit: cover;
}
.front-child4 {
  left: calc(50% + 450px);
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 102px;
}
.image-2-icon3 {
  position: absolute;
  top: 47px;
  left: calc(50% + 262px);
  width: 59px;
  height: 61px;
  object-fit: cover;
}
.image-4-icon3,
.logo-spliteride-icon4 {
  position: absolute;
  top: 29px;
  left: calc(50% + 453px);
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.logo-spliteride-icon4 {
  top: 0;
  left: calc(50% - 552px);
  width: 171px;
  height: 145px;
}
.front3 {
  position: absolute;
  top: 27px;
  left: calc(50% - 624px);
  width: 1248px;
  height: 144px;
  overflow: hidden;
}
.iconhome15 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 54px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.praying-hand-icon3 {
  position: absolute;
  height: 33.33%;
  width: 41.69%;
  top: 41.23%;
  right: 29.4%;
  bottom: 25.44%;
  left: 28.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tab-bar-item15 {
  position: absolute;
  top: -2px;
  left: calc(50% - 394.5px);
  width: 166px;
  height: 114px;
  cursor: pointer;
}
.home-icon3 {
  position: absolute;
  top: 30px;
  left: 51px;
  width: 61px;
  height: 53px;
  overflow: hidden;
  object-fit: cover;
}
.iconhome16 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 34.5px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.tab-bar-item16 {
  position: absolute;
  top: 4px;
  left: calc(50% - 222.5px);
  width: 163px;
  height: 114px;
  cursor: pointer;
}
.tab-bar-item-child1 {
  position: absolute;
  top: 31px;
  left: 39px;
  border-radius: 50%;
  background-color: var(--color-silver-100);
  width: 86px;
  height: 85px;
}
.iconhome17 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 25px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.steering-wheel-icon3 {
  position: absolute;
  top: 31px;
  left: 57px;
  width: 51px;
  height: 52px;
  overflow: hidden;
}
.tab-bar-item17 {
  position: absolute;
  top: 4px;
  left: calc(50% - 44.5px);
  width: 164px;
  height: 114px;
  cursor: pointer;
}
.iconhome18 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 24.5px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.street-sign-crossroad-street-icon3 {
  position: absolute;
  top: 35px;
  left: 44px;
  width: 77px;
  height: 50px;
  overflow: hidden;
}
.tab-bar-item18 {
  position: absolute;
  top: 4px;
  left: calc(50% + 134.5px);
  width: 163px;
  height: 114px;
  cursor: pointer;
}
.iconhome19 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 55px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.chat-bubble-oval-smiley-1-mes-icon3 {
  position: absolute;
  top: 32px;
  left: 49px;
  width: 66px;
  height: 50px;
  overflow: hidden;
  object-fit: contain;
}
.tab-bar-item19 {
  position: absolute;
  top: 4px;
  left: calc(50% + 312.5px);
  width: 164px;
  height: 114px;
  cursor: pointer;
}
.after-search,
.tab2 {
  background-color: var(--color-whitesmoke);
}
.tab2 {
  position: absolute;
  bottom: 9px;
  left: calc(50% - 647px);
  box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  width: 1295px;
  height: 118px;
}
.after-search {
  width: 100%;
  position: relative;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
