.logo-spliteride-icon7 {
  position: absolute;
  top: 172px;
  left: 222px;
  width: 999px;
  height: 284px;
  object-fit: cover;
}
.splitride-is-a {
  margin: 0;
}
.profile-creation-create {
  margin-bottom: 0;
}
.user-friendly-interface-easil {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-5xl);
}
.splitride-is-a-container {
  position: absolute;
  top: 480px;
  left: 146px;
  letter-spacing: -0.24px;
  font-weight: 500;
  display: inline-block;
  width: 1147px;
  height: 470px;
}
.front-child9 {
  position: absolute;
  top: 35px;
  left: calc(50% - 381px);
  border-radius: var(--br-9xl);
  background-color: var(--color-gainsboro);
  width: 722px;
  height: 91px;
}
.front-child10,
.image-3-icon6 {
  position: absolute;
  top: 29px;
  height: 97px;
}
.image-3-icon6 {
  left: calc(50% + 341px);
  width: 92px;
  object-fit: cover;
}
.front-child10 {
  left: calc(50% + 450px);
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 102px;
}
.image-2-icon6 {
  position: absolute;
  top: 47px;
  left: calc(50% + 262px);
  width: 59px;
  height: 61px;
  object-fit: cover;
}
.image-4-icon6,
.logo-spliteride-icon8 {
  position: absolute;
  top: 29px;
  left: calc(50% + 453px);
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.logo-spliteride-icon8 {
  top: 0;
  left: calc(50% - 552px);
  width: 171px;
  height: 145px;
}
.front6 {
  position: absolute;
  top: 27px;
  left: calc(50% - 624px);
  width: 1248px;
  height: 144px;
  overflow: hidden;
}
.iconhome30 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 54px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.praying-hand-icon6 {
  position: absolute;
  height: 33.33%;
  width: 41.69%;
  top: 41.23%;
  right: 29.4%;
  bottom: 25.44%;
  left: 28.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tab-bar-item30 {
  position: absolute;
  top: -2px;
  left: calc(50% - 394.5px);
  width: 166px;
  height: 114px;
  cursor: pointer;
}
.home-icon6 {
  position: absolute;
  top: 30px;
  left: 51px;
  width: 61px;
  height: 53px;
  overflow: hidden;
  object-fit: cover;
}
.iconhome31 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 34.5px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.tab-bar-item31 {
  position: absolute;
  top: 4px;
  left: calc(50% - 222.5px);
  width: 163px;
  height: 114px;
  cursor: pointer;
}
.iconhome32 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 25px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.steering-wheel-icon6 {
  position: absolute;
  top: 31px;
  left: 57px;
  width: 51px;
  height: 52px;
  overflow: hidden;
}
.tab-bar-item32 {
  position: absolute;
  top: 4px;
  left: calc(50% - 44.5px);
  width: 164px;
  height: 114px;
  cursor: pointer;
}
.iconhome33 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 24.5px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.street-sign-crossroad-street-icon6 {
  position: absolute;
  top: 35px;
  left: 44px;
  width: 77px;
  height: 50px;
  overflow: hidden;
}
.tab-bar-item33 {
  position: absolute;
  top: 4px;
  left: calc(50% + 134.5px);
  width: 163px;
  height: 114px;
  cursor: pointer;
}
.tab-bar-item-child4 {
  position: absolute;
  top: 24px;
  left: 39px;
  border-radius: 50%;
  background-color: var(--color-silver-100);
  width: 86px;
  height: 85px;
}
.iconhome34 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 55px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.chat-bubble-oval-smiley-1-mes-icon6 {
  position: absolute;
  top: 32px;
  left: 49px;
  width: 66px;
  height: 50px;
  overflow: hidden;
  object-fit: contain;
}
.tab-bar-item34 {
  position: absolute;
  top: 4px;
  left: calc(50% + 312.5px);
  width: 164px;
  height: 114px;
  cursor: pointer;
}
.about-us1,
.tab5 {
  background-color: var(--color-whitesmoke);
}
.tab5 {
  position: absolute;
  bottom: 9px;
  left: calc(50% - 647px);
  box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  width: 1295px;
  height: 118px;
  text-align: center;
  font-size: var(--font-size-6xl);
}
.about-us1 {
  width: 100%;
  position: relative;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
