.iconhome {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 54px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.praying-hand-icon {
  position: absolute;
  height: 33.33%;
  width: 41.69%;
  top: 41.23%;
  right: 29.4%;
  bottom: 25.44%;
  left: 28.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tab-bar-item {
  position: absolute;
  top: -2px;
  left: calc(50% - 394.5px);
  width: 166px;
  height: 114px;
  cursor: pointer;
}
.tab-bar-item-child {
  position: absolute;
  top: 32px;
  left: 39px;
  border-radius: 50%;
  background-color: var(--color-silver-100);
  width: 86px;
  height: 85px;
}
.home-icon {
  position: absolute;
  top: 30px;
  left: 51px;
  width: 61px;
  height: 53px;
  overflow: hidden;
  object-fit: cover;
}
.iconhome1 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 34.5px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.tab-bar-item1 {
  position: absolute;
  top: 4px;
  left: calc(50% - 222.5px);
  width: 163px;
  height: 114px;
}
.iconhome2 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 25px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.steering-wheel-icon {
  position: absolute;
  top: 31px;
  left: 57px;
  width: 51px;
  height: 52px;
  overflow: hidden;
}
.tab-bar-item2 {
  position: absolute;
  top: 4px;
  left: calc(50% - 44.5px);
  width: 164px;
  height: 114px;
  cursor: pointer;
}
.iconhome3 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 24.5px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.street-sign-crossroad-street-icon {
  position: absolute;
  top: 35px;
  left: 44px;
  width: 77px;
  height: 50px;
  overflow: hidden;
}
.tab-bar-item3 {
  position: absolute;
  top: 4px;
  left: calc(50% + 134.5px);
  width: 163px;
  height: 114px;
  cursor: pointer;
}
.iconhome4 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 55px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.chat-bubble-oval-smiley-1-mes-icon {
  position: absolute;
  top: 32px;
  left: 49px;
  width: 66px;
  height: 50px;
  overflow: hidden;
  object-fit: contain;
}
.tab-bar-item4 {
  position: absolute;
  top: 4px;
  left: calc(50% + 312.5px);
  width: 164px;
  height: 114px;
  cursor: pointer;
}
.tab-bar {
  position: absolute;
  bottom: 9px;
  left: calc(50% - 637px);
  box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  background-color: var(--color-whitesmoke);
  width: 1295px;
  height: 118px;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.home-child {
  position: absolute;
  top: 303px;
  left: 198px;
  border-radius: var(--br-16xl);
  background-color: var(--color-black);
  width: 1065px;
  height: 57px;
  cursor: pointer;
}
.find-a-student {
  position: relative;
  line-height: 140%;
  font-weight: 500;
  white-space: pre-wrap;
}
.find-a-student-wrapper {
  position: absolute;
  top: -30px;
  left: 124px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.home-inner {
  position: absolute;
  top: calc(50% - 197px);
  left: calc(50% - 295px);
  width: 611px;
  height: 30px;
}
.home-item {
  position: absolute;
  top: 443px;
  left: 198px;
  border-radius: var(--br-16xl);
  background-color: var(--color-black);
  width: 1065px;
  height: 58px;
  cursor: pointer;
}
.plan-for-a-travel-wrapper {
  position: absolute;
  top: -31px;
  left: 104px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.frame-div {
  position: absolute;
  top: calc(50% - 54px);
  left: calc(50% - 295px);
  width: 611px;
  height: 28px;
}
.home-child1 {
  position: absolute;
  top: 599px;
  left: 198px;
  border-radius: var(--br-16xl);
  background-color: var(--color-black);
  width: 1065px;
  height: 59px;
  cursor: pointer;
}
.about-us {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.about-us-wrapper {
  position: absolute;
  top: -31px;
  left: 185px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.home-inner1 {
  position: absolute;
  top: calc(50% + 105px);
  left: calc(50% - 295px);
  width: 611px;
  height: 28px;
}
.front-child {
  position: absolute;
  top: 35px;
  left: calc(50% - 381px);
  border-radius: var(--br-9xl);
  background-color: var(--color-gainsboro);
  width: 722px;
  height: 91px;
}
.front-item,
.image-3-icon {
  position: absolute;
  top: 29px;
  height: 97px;
}
.image-3-icon {
  left: calc(50% + 341px);
  width: 92px;
  object-fit: cover;
}
.front-item {
  left: calc(50% + 450px);
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 102px;
}
.image-2-icon {
  position: absolute;
  top: 47px;
  left: calc(50% + 262px);
  width: 59px;
  height: 61px;
  object-fit: cover;
}
.image-4-icon,
.logo-spliteride-icon1 {
  position: absolute;
  top: 29px;
  left: calc(50% + 453px);
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.logo-spliteride-icon1 {
  top: 0;
  left: calc(50% - 552px);
  width: 171px;
  height: 145px;
}
.front,
.home {
  overflow: hidden;
}
.front {
  position: absolute;
  top: 27px;
  left: calc(50% - 624px);
  width: 1248px;
  height: 144px;
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 1024px;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}