.hey {
  position: absolute;
  top: 98px;
  left: 425px;
  display: inline-block;
  font-weight: 900;
  width: 596px;
  height: 68px;
}
.first-name,
.gender,
.key-word,
.last-name,
.number,
.picture {
  position: absolute;
  top: 0;
  left: 54.9px;
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  width: 500.3px;
  height: 42.2px;
}
.gender,
.key-word,
.last-name,
.number,
.picture {
  top: 81.5px;
  height: 40.7px;
}
.gender,
.key-word,
.number,
.picture {
  top: 161.6px;
  height: 42.2px;
}
.gender,
.key-word,
.picture {
  top: 243.1px;
  height: 46.4px;
}
.key-word,
.picture {
  top: 328.8px;
  height: 40.7px;
}
.picture {
  top: 397.6px;
  left: 0;
  height: 42.2px;
}
.first-name-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 555.2px;
  height: 439.8px;
}
.group-inner {
  outline: 0;
  top: 1.8px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-inner,
.rectangle-input {
  position: absolute;
  left: 523.7px;
  background-color: var(--color-gainsboro);
  border: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 368.1px;
  height: 38.5px;
}
.rectangle-input {
  outline: 0;
  top: 330.6px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4 {
  top: 402.3px;
}
.group-child2,
.group-child3,
.group-child4 {
  outline: 0;
  top: 81.9px;
}
.group-child3,
.group-child4 {
  top: 163.4px;
}
.group-child4 {
  top: 246.3px;
}
.group-parent {
  position: absolute;
  top: 207.6px;
  left: 272.6px;
  width: 890.8px;
  height: 439.8px;
  text-align: left;
  font-size: var(--font-size-3xl);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 26px;
  background-color: var(--color-silver);
  width: 878.6px;
  height: 67.4px;
}
.rectangle-container,
.valide {
  position: absolute;
  cursor: pointer;
}
.valide {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 8.4px;
  left: 265.4px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  font-style: italic;
  font-weight: 900;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 347.8px;
  height: 50.6px;
}
.rectangle-container {
  top: 859.6px;
  left: 284.8px;
  width: 878.6px;
  height: 67.4px;
}
.sign-in1 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}