.select-a-region-child {
  position: absolute;
  top: 198px;
  left: 336px;
  border-radius: 25px;
  background-color: var(--color-gainsboro);
  width: 767px;
  height: 627px;
}
.select-a-region-item {
  border: 1px dashed var(--color-black);
  outline: 0;
  background-color: var(--color-darkgray-100);
  position: absolute;
  top: 528px;
  left: 422px;
  box-sizing: border-box;
  width: 600px;
  height: 87px;
}
.city1 {
  margin: 0;
}
.adresse,
.city {
  position: absolute;
  top: 295px;
  left: 385px;
  letter-spacing: -0.24px;
  font-weight: 500;
  display: inline-block;
  width: 128px;
  height: 45px;
}
.adresse {
  top: 466px;
  width: 244px;
}
.select-a-region-inner {
  border: 1px dashed var(--color-black);
  outline: 0;
  background-color: var(--color-darkgray-100);
  position: absolute;
  top: 361px;
  left: 417px;
  box-sizing: border-box;
  width: 600px;
  height: 87px;
}
.select-a-region-child1 {
  border: 0;
  outline: 0;
  background-color: var(--color-black);
  position: absolute;
  top: 742px;
  left: 408px;
  border-radius: 22px;
  width: 590px;
  height: 64px;
}
.validate {
  position: absolute;
  top: 747px;
  left: 515px;
  font-size: 20px;
  letter-spacing: -0.24px;
  font-weight: 500;
  color: var(--color-white);
  display: inline-block;
  width: 356px;
  height: 55px;
}
.front-child1 {
  position: absolute;
  top: 35px;
  left: calc(50% - 381px);
  border-radius: var(--br-9xl);
  background-color: var(--color-gainsboro);
  width: 722px;
  height: 91px;
}
.front-child2,
.image-3-icon2 {
  position: absolute;
  top: 29px;
  height: 97px;
}
.image-3-icon2 {
  left: calc(50% + 341px);
  width: 92px;
  object-fit: cover;
}
.front-child2 {
  left: calc(50% + 450px);
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 102px;
}
.image-2-icon2 {
  position: absolute;
  top: 47px;
  left: calc(50% + 262px);
  width: 59px;
  height: 61px;
  object-fit: cover;
}
.image-4-icon2,
.logo-spliteride-icon3 {
  position: absolute;
  top: 29px;
  left: calc(50% + 453px);
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.logo-spliteride-icon3 {
  top: 0;
  left: calc(50% - 552px);
  width: 171px;
  height: 145px;
}
.front2 {
  position: absolute;
  top: 27px;
  left: calc(50% - 624px);
  width: 1248px;
  height: 144px;
  overflow: hidden;
}
.iconhome10 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 54px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.praying-hand-icon2 {
  position: absolute;
  height: 33.33%;
  width: 41.69%;
  top: 41.23%;
  right: 29.4%;
  bottom: 25.44%;
  left: 28.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tab-bar-item10 {
  position: absolute;
  top: -2px;
  left: calc(50% - 394.5px);
  width: 166px;
  height: 114px;
  cursor: pointer;
}
.home-icon2 {
  position: absolute;
  top: 30px;
  left: 51px;
  width: 61px;
  height: 53px;
  overflow: hidden;
  object-fit: cover;
}
.iconhome11 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 34.5px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.tab-bar-item11 {
  position: absolute;
  top: 4px;
  left: calc(50% - 222.5px);
  width: 163px;
  height: 114px;
  cursor: pointer;
}
.tab-bar-item-inner {
  position: absolute;
  top: 31px;
  left: 39px;
  border-radius: 50%;
  background-color: var(--color-silver-100);
  width: 86px;
  height: 85px;
}
.iconhome12 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 25px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.steering-wheel-icon2 {
  position: absolute;
  top: 31px;
  left: 57px;
  width: 51px;
  height: 52px;
  overflow: hidden;
}
.tab-bar-item12 {
  position: absolute;
  top: 4px;
  left: calc(50% - 44.5px);
  width: 164px;
  height: 114px;
  cursor: pointer;
}
.iconhome13 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 24.5px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.street-sign-crossroad-street-icon2 {
  position: absolute;
  top: 35px;
  left: 44px;
  width: 77px;
  height: 50px;
  overflow: hidden;
}
.tab-bar-item13 {
  position: absolute;
  top: 4px;
  left: calc(50% + 134.5px);
  width: 163px;
  height: 114px;
  cursor: pointer;
}
.iconhome14 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 55px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.chat-bubble-oval-smiley-1-mes-icon2 {
  position: absolute;
  top: 32px;
  left: 49px;
  width: 66px;
  height: 50px;
  overflow: hidden;
  object-fit: contain;
}
.tab-bar-item14 {
  position: absolute;
  top: 4px;
  left: calc(50% + 312.5px);
  width: 164px;
  height: 114px;
  cursor: pointer;
}
.select-a-region2,
.tab1 {
  background-color: var(--color-whitesmoke);
}
.tab1 {
  position: absolute;
  bottom: 9px;
  left: calc(50% - 647px);
  box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  width: 1295px;
  height: 118px;
  font-size: var(--font-size-6xl);
}
.select-a-region2 {
  width: 100%;
  position: relative;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
