.iconhome5 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 54px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.praying-hand-icon1 {
  position: absolute;
  height: 33.33%;
  width: 41.69%;
  top: 41.23%;
  right: 29.4%;
  bottom: 25.44%;
  left: 28.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tab-bar-item5 {
  position: absolute;
  top: -2px;
  left: calc(50% - 394.5px);
  width: 166px;
  height: 114px;
  cursor: pointer;
}
.home-icon1 {
  position: absolute;
  top: 30px;
  left: 51px;
  width: 61px;
  height: 53px;
  overflow: hidden;
  object-fit: cover;
}
.iconhome6 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 34.5px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.tab-bar-item6 {
  position: absolute;
  top: 4px;
  left: calc(50% - 222.5px);
  width: 163px;
  height: 114px;
  cursor: pointer;
}
.tab-bar-item-item {
  position: absolute;
  top: 31px;
  left: 39px;
  border-radius: 50%;
  background-color: var(--color-silver-100);
  width: 86px;
  height: 85px;
}
.iconhome7 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 25px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.steering-wheel-icon1 {
  position: absolute;
  top: 31px;
  left: 57px;
  width: 51px;
  height: 52px;
  overflow: hidden;
}
.tab-bar-item7 {
  position: absolute;
  top: 4px;
  left: calc(50% - 44.5px);
  width: 164px;
  height: 114px;
  cursor: pointer;
}
.iconhome8 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 24.5px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.street-sign-crossroad-street-icon1 {
  position: absolute;
  top: 35px;
  left: 44px;
  width: 77px;
  height: 50px;
  overflow: hidden;
}
.tab-bar-item8 {
  position: absolute;
  top: 4px;
  left: calc(50% + 134.5px);
  width: 163px;
  height: 114px;
  cursor: pointer;
}
.iconhome9 {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 55px);
  letter-spacing: -0.24px;
  font-weight: 500;
}
.chat-bubble-oval-smiley-1-mes-icon1 {
  position: absolute;
  top: 32px;
  left: 49px;
  width: 66px;
  height: 50px;
  overflow: hidden;
  object-fit: contain;
}
.tab-bar-item9 {
  position: absolute;
  top: 4px;
  left: calc(50% + 312.5px);
  width: 164px;
  height: 114px;
  cursor: pointer;
}
.tab {
  width: 100%;
  position: relative;
  box-shadow: 0-0.5px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  background-color: var(--color-whitesmoke);
  height: 118px;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}